.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid var(--color-gradiant-deep);
  outline: none;
  width: 320px;
  background: transparent;
  color: var(--color-white);
}

.todo-input.edit {
  border: 2px solid var(--color-primary);
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,var(--color-gradiant-deep),var(--color-gradiant-light) 100%
  );
  color: var(--color-white);
  text-transform: capitalize;
}

.todo-button.edit {
  background: linear-gradient(
    90deg, var(--color-primary) 0%,var(--color-primary-light) 100%
  );
  padding: 16px 22px;
}