
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: var(--color-white);
  padding: 16px;
  border-radius: 5px;
}

.todo-row{
  background: linear-gradient(
    90deg,
    var(--color-gradiant-deep) 0%,
    var(--color-gradiant-light) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: var(--color-white);
}

.edit-icon {
  color: var(--color-white);
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}