/************Some relevent color variable************/
:root {
  --color-primary: #2160fd;
  --color-primary-light: #5e7dce;
  --color-secondary: #fe8e22;
  --color-gradiant-light: #149fff;
  --color-gradiant-deep: #117aff ;
  --color-white: #fff;
  --color-light: #e2e2e2;
}


/************Base styles************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  /* background: linear-gradient(90deg, var(--color-primary-light) 0%, var(--color-primary)100%); */
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 520px;
  min-height: 600px;
  background: var(--color-secondary);
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.main-heading {
  margin: 32px 0;
  text-align: center;
  color: var(--color-white);
  font-size: 24px;
}

.todo-input::placeholder {
  color: var(--color-light);
}

